<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>안녕하시렵니까</h2>
<h3>정보를 입력해주세요</h3>
<div class="container">
    <form action="/card/new" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" required placeholder ="ex : hamging">
            <label for="phoneNum">번호</label>
            <input type="text" id="phoneNum" name="phone" required placeholder="ex : 01000000000">
            <label for="company">회사</label>
            <input type="text" id="company" name="company" required placeholder="ex : 네이버">
            <input type="submit" value="저장">
        </div>
    </form>
</div>
</body>
<ul>
    <p th:if="${msg}">동일한 회원이 이미 존재합니다</p>
</ul>
<html>